<h2>Get me a group!</h2>
<div class="well">
<form>

    <div class="form-group">
      <label class="control-label">Course Name</label>
      <select class="form-control" id="select_class">
        {{#each courses}}
          <option>{{name}}</option>
        {{/each}}
      </select>
    </div>

      <div class="form-group">
        <label class="control-label">Frequency</label>
          <select class="form-control" id="select_freq">
            <option>once a week</option>
            <option>twice a week</option>
            <option>3 times a week</option>
          </select>
      </div>

      <div class="form-group">
        <label class="control-label">Comfort Level with Material</label>
        <select class="form-control" id="select_comfort">
          <option>Expert</option>
          <option>Got it, mostly</option>
          <option>Still mastering</option>
          <option>Playing catchup</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label">Group Size</label>
          <select class="form-control" id="select_members">
            <option>2 members</option>
            <option>3 members</option>
            <option>4 members</option>
            <option>5 members</option>
          </select>
      </div>

      <div class="form-group pull-right">
        <a href="/groups/all/" class="btn btn-default">Cancel</a>
        <button class="btn btn-success" id="go_button">Go!</button>
      </div>
      <br><br><br>
</form>
</div>

 <script language="JavaScript">

 $( "#go_button" ).click(function() {

   var selectedClass = document.getElementById('select_class').value;

   var freq = document.getElementById('select_freq').value;
   var freqIndex = document.getElementById('select_freq').selectedIndex;

   var members = document.getElementById('select_members').value;
   var membersIndex = document.getElementById('select_members').selectedIndex;
   var numMembers = membersIndex + 2;

   var randomMembers = []
   while(randomMembers.length < numMembers){
      var randomnumber = Math.ceil(Math.random()*100)
      if(randomMembers.indexOf(randomnumber) > -1) continue;
      randomMembers[randomMembers.length] = randomnumber;
    }



   var comfort = document.getElementById('select_comfort').value;

   var chosenClass = document.getElementById('select_class').value;

   var myData = {"class":selectedClass, "frequency":freq, "membersIndex":numMembers, "comfort":comfort, "class":chosenClass, "randomMembers": randomMembers, "selectedClass":selectedClass }


    $.ajax({
            type: "GET",
            url: "/groups/find",
            data: myData,
            success: function (data) {
               console.log("Retunred");
               window.location = '/groups/openNew';

            },
            error: function (data) {
             console.log(data);
             alert('Server is currently handling other requests, please try again later');
            }
        });


  });
 </script>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
