<h2>{{groups.name}}</h2>
<div class="well">
    <h4>Members<h4>
      <ul>
      {{#each members}}
            <li><a href="/users/{{id}}/">{{name}}</a></li>
      {{/each}}
    </ul>
</div>
<div class="well" style="text-align:center">
    <h4>Contact Members</h4><br>
    <a class="btn btn-success">Group Email</a><br><br>
    <a class="btn btn-success">Group Text</a><br><br>
    <a class="btn btn-success">Facebook Group</a>
</div>
<br><br>

<div class="container" style="text-align:center">
    <a class="btn btn-default" href="/groups/all/">Home </a>
    <a class="btn btn-default" href="/users/1/">Profile</a>
    <a class="btn btn-default" href="/">Log Out</a>
</div>
