<html>
    <head>
        <title>Group Creator</title>
    </head>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd" crossorigin="anonymous">
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
    <body class="container">
        <h2>Get me a group!</h2>
        <form class="well">

            <div class="form-group">
              <label class="control-label">Course Name</label>
              <input type="text" class="form-control" placeholder="Course Name">
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <label class="control-label">Start</label>
                  <input type="date" class="form-control">
                </div>
                <div class="col-xs-6">
                  <label class="control-label">End</label>
                  <input type="date" class="form-control">
                </div>
              </div>
            </div>

              <div class="form-group">
                <label class="control-label">Location</label>
                <input type="text" class="form-control" placeholder="Location">
              </div>
              <br>

              <div class="form-group">
                <label class="control-label">Frequency (times a week)</label>
                <input type="range" name="freq" min="1" max="7"></input>
              </div>
              <br>

              <div class="form-group">
                <label class="control-label">Comfort Level with Material</label>
                <input type="range" name="freq" min="1" max="5"></input>
              </div>
              <br>

              <div class="form-group">
                <label class="control-label">Group Size</label>
                <input type="range" name="freq" min="2" max="7"></input>
              </div>
              <br>

              <div class="form-group pull-right">
                <a href="group" class="btn btn-default">Cancel</a>
                <a href="studyGroup" class="btn btn-success">Go!</a>
              </div>
              <br><br><br>
        </form>




<!--
            <div class="form-group">
              <label class="control-label">Class</label>
              <input type="text" class="form-control" name="classname" placeholder="class"><br>
            </div>
            <div class="form-group">
              <span class="col-md-3">
              <label class="control-label">Start, End</label>
              <input type="date" class="form-control" name="classname" placeholder="class"><br>
              </span>
              <span class="col-md-3">
              <input type="date" class="form-control" name="classname" placeholder="class"><br>
              </span>
            </div>
            Dates: <input type="date" name="start"> to <input type="date" name="end"><br>
            Frequency: <input type="range" name="freq" min="1" max="7"> times a week<br>
            Location: <br>
            Comfort Level with Material: <input type="range" name="comfort" min="1" max="5"><br>
            Group Size: <input type="range" name="size" min="2" max="7"><br>
            <div class="form-group">
              <a href="" class="btn btn-default">Cancel</a>
              <a href="studyGroup.html" class="btn btn-success">Go!</a>
            </div>

        </form>
-->
    </body>
</html>
