<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <h2>Aman Gupta</h2>
        <p>2nd Year</p>
        <p>Cognitive Science Student</p>
        <br>
        <h4>About</h4>
        <button type="button">Edit</button>
        <p>Hi! I could really use some Philz Coffee right now.</p>
        <a href="http://www.facebook.com">Facebook</a><br>
        <a href="http://www.google.com">Google</a>

        <br><br>

		    <a href="group"><button type="button">Home</button></a>
        <a href="profile"><button type="button">Profile</button></a>
        <a href="\"><button type="button">Log Out</button></a>
        
    </body>
</html>
