<html>
    <head>
        <title>Profile</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd" crossorigin="anonymous">
        <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
    </head>
    <body>
        <h2>Aman Gupta</h2>
        <p>2nd Year</p>
        <p>Cognitive Science Student</p>
        <br>
        <h4>About</h4>
        <a class="btn btn-default">Edit</a>
        <p>Hi! I could really use some Philz Coffee right now.</p>
        <a class="btn btn-success" href="http://www.facebook.com">Facebook</a>
        <a class="btn btn-success" href="http://www.google.com">Google</a>

        <br><br>

		<div class="container" style="text-align:center">
            <a class="btn btn-default" href="group">Home </a>
            <a class="btn btn-default" href="profile">Profile</a>
            <a class="btn btn-default" href="/">Log Out</a>
        </div>
        
    </body>
</html>
