<html>
    <head>
        <title>Sign Up Page</title>
    </head>
    <body>
        <h2>Sign Up</h2>
        <a href="http://www.facebook.com">Facebook</a><br>
        <a href="http://www.google.com">Google</a>
        <h5>OR</h5>
        <form>
            Email:<br>
            <input type="text" name="email"><br>
            Password:<br>
            <input type="text" name="password"><br>
        </form>
        <a href="group">Go</a>
    </body>
</html>
