<a href="#" class="">
    <img src="{{user.picture}}" width="200px">
</a>

<h2>{{user.name}}</h2>
<h4>Computer Science</h4>
{{#if current_user }}
  <a class="btn btn-default">Edit</a>
{{/if}}
<br>
<br>
<div class="well">
    <h4>Bio</h4>
    <p>{{user.bio}}/</p>
</div>

<br>
<div class="container" style="text-align:center">
    <a class="btn btn-default" href="group">Home </a>
    <a class="btn btn-default" href="profile">Profile</a>
    <a class="btn btn-default" href="/">Log Out</a>
</div> <br><br>