<h1>GroupMeet</h1>
<div>
  <a class="btn btn-success" style="margin-top: 15px" href="/users/new" >Sign Up</a><br>
  <a class="btn btn-success" style="margin-top: 15px" href="/users/new">Login</a>
</div>
